.wrapper {
    display: flex;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 20px 0px;
    max-width: 692px;
    position: relative;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content {
    flex: 1 1 624px;
    margin-left: 12px;
    width: 624px;
}

.header {
    margin-right: 114px;
}

.user {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.user-nickname {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;

    &:hover {
        text-decoration: underline;
    }
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.user-fullname {
    font-weight: 300;
    font-size: 14px;
    display: inline-block;
    line-height: 28px;
}

.desc {
    font-size: 16px;
    line-height: 22px;
    word-break: break-word;
    font-weight: 500;
}

.music {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    margin-bottom: 12px;

    .music-name {
        display: inline-block;
        padding-left: 10px;
    }
}

//button following
.follow-btn {
    position: absolute;
    top: 28px;
    right: 0;
    min-width: 88px;
    max-height: 28px;
}

// thông tin video
.video-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

//video
.video {
    cursor: pointer;
    margin-right: 2rem;
    height: calc(450px + ((100vw - 768px) / 1152) * 200);
    aspect-ratio: 56.25/100;
    object-fit: cover;
}

//các icon bên cạnh video
.video-icons {
    display: flex;
    flex-direction: column;

    .btn-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
    }

    .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-size: 0px;
        border-radius: 50%;
        transition: all 200ms ease-in-out 0s;
        background-color: rgba(22, 24, 35, 0.06);
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .text {
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        font-weight: 700;
    }
}

.icon {
    height: 24px;
    width: 24px;
}

.icon.like {
    color: red;
}
