.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.comment-container {
    width: 100%;
    border-top: 1px solid var(--border-icon);
    border-bottom: 1px solid var(--border-icon);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.comment-list-container {
    width: 100%;
    overflow: auto;
    position: relative;
    padding: 0px 32px 24px;
}

.comment-list-container:first-of-type {
    padding-top: 24px;
}

.comment-item-container {
    margin-bottom: 16px;
}

.bottom-comment-container {
    flex: 0 0 auto;
    margin: 0px 30px;
    padding: 21px 0px;
}

.comment-bar {
    color: var(--white);
    font-weight: 600;
    height: 100%;
    background: var(--border-icon);
    border-radius: 10px;
    padding: 14px 16px;
    font-size: 16px;
    cursor: pointer;
    text-align: unset;
}

.comment-bar-chat {
    display: flex;

    button {
        width: 10%;
        border-radius: 10px;
        padding: 10px;
        float: right;
        cursor: pointer;
    }
}

.comment-bar-text {
    flex: 1 0;
    margin-right: 10px;

    textarea {
        width: 100%;
        margin: 0;
        padding: 5px;
        background: #ebf5ff;
        border-radius: 10px;
        display: flex;
        float: left;
    }
}

.comment-bar-warn {
    display: flex;
    justify-content: center;
}
