.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    // Disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
// Button types

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        opacity: 0.8;
    }
}

.text {
    color: var(--black);
}

.hastag {
    border-radius: 12px;
    color: var(--text-colorsubname);
    height: 24px;
    margin-bottom: 12px;
    margin-right: 8px;
    padding: 3px 10px;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
    width: 100%;
}
