@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

:root {
    --primary: #ff3b5c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Sofia', cursive;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
