.wrapper {
    height: 100vh;
    background: center top no-repeat url(../../../../public/login.jpg);
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 44px;
}

.register-box {
    position: absolute;
    min-height: 500px;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ebf0f3;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.title {
    margin-bottom: 24px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-box {
    position: relative;
    font-size: 24px;
}

.user-box input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--black);
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -16px;
    left: 0;
    color: var(--primary);
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 8px 20px;
    cursor: pointer;
}

.signin {
    text-align: center;
    padding-top: 24px;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

.valid {
    color: limegreen;
}

.invalid {
    color: red;
}

.valid,
.invalid {
    position: absolute;
    right: -24px;
    top: 8px;
}

.hint {
    font-size: 10px;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 999;
}

.hint > svg {
    margin-right: 5px;
}

.hide {
    display: none;
}
