.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.wrapper.suggested {
    padding: 6px 16px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.wrapper.watcher {
    &:hover ~ .wrapper {
        color: red;
        text-decoration: underline;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    font-weight: 600;
}

.check {
    margin-left: 6px;
    color: rgb(32, 213, 236);
}

.fullname {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
