.wrapper {
    width: 100%;
    position: relative;
    &:hover {
        .icon-play,
        .icon-sound,
        .input-volume {
            opacity: 1;
        }
    }
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

// nút play và sound của video
.icon-play,
.icon-sound {
    width: 30px;
    height: 30px;
    bottom: 16px;
    position: absolute;
    color: var(--white);
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.icon-play {
    left: 12px;
}

.icon-sound {
    right: 12px;
}

//thanh điều khiển âm thanh

.input-volume {
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: transparent;
    rotate: 270deg;
    opacity: 0;
}
