.wrapper {
    position: fixed;
    right: 32px;
    bottom: -36px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}
.wrapper.active {
    bottom: 8px;
}

.icon {
    display: flex;
    border-radius: 52px !important;
    width: 32px !important;
    height: 32px;
}
