.wrapper {
    border-top: 1px solid #e3e3e4;
    padding: 20px 8px 24px 8px;
}

.text {
    color: rgba(22, 24, 35, 0.5);
    font-size: 16px;
    line-height: 22px;
}

.btn {
    font-weight: 600px;
    font-size: 18px;
    margin-top: 20px;
}
