.item {
    position: relative;
    overflow: hidden;
    width: 191px;

    video {
        position: absolute;
        top: 0;
    }
}

.desc {
    height: 28px;
    padding: 2px 4px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
