.wrapper {
    height: 100vh;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 44px;
}

.login-box {
    position: absolute;
    min-height: 500px;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #ebf0f3;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.title {
    margin-bottom: 24px;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-box {
    position: relative;
    font-size: 24px;
}

.user-box input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--black);
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -16px;
    left: 0;
    color: var(--primary);
    font-size: 16px;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    line-height: 0.75;
    margin-bottom: 12px;

    &:hover {
        text-decoration: underline var(--black);
    }
}

.btn {
    width: 100%;
    padding: 8px 20px;
    cursor: pointer;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.line {
    height: 1px;
    flex: 1;
    background-color: var(--black);
}

.message {
    padding: 0 16px 0 16px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
}

.icon {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.signup {
    text-align: center;
    padding-top: 24px;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}
