.wrapper {
    width: 240px;

    &:hover {
        ::-webkit-scrollbar {
            width: 8px;
        }
    }
    ::-webkit-scrollbar {
        width: 0;
    }
}

.container {
    overflow: auto;
    overscroll-behavior-y: contain;
    top: 60px;
    width: 240px;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 1;
}

.content {
    padding: 20px 0 26px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-left: 8px;
}
